<head>
    <script src="https://kit.fontawesome.com/8e71041f47.js" crossorigin="anonymous"></script>
</head>

<header id="pageHeader">
<div class="fa-3x">
    <i class="fab fa-twitter"></i>
</div>  
</header>

