 <head>
        <script src="https://kit.fontawesome.com/8e71041f47.js" crossorigin="anonymous"></script>
 </head>
<div class="container">
        <div class="left">
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="Btn"></i></span>
                  <a href="/tweets/index" class="fas fa-home ">ホーム</a>
                  </li><br>
                  <li><span class="fa-li"><i class="fas fa-search fa-fw"></i></span>話題を検索</li>
                  <li><span class="fa-li"><i class="far fa-bell fa-fw"></i></span>通知</li>
                  <li><span class="fa-li"><i class="far fa-envelope fa-fw"></i></span>メッセージ</li>
                  <li><span class="fa-li"><i class="far fa-bookmark fa-fw"></i></span>ブックマーク</li>
                  <li><span class="fa-li"><i class="far fa-list-alt fa-fw"></i></span>リスト</li>
                  <li><span class="fa-li"><i class="far fa-user fa-fw"></i></span>プロフィール</li>
                  <li><span class="fa-li"><i class="fas fa-ellipsis-h fa-fw"></i></span>もっと見る</li>
                </ul>
          <p><a href="/tweets/new" class="btn">ツイートする</a></p>
        </div>
        
        
        <div class="contents">
        <p>
            <div class="iconback">
                <strong>ちくわ</strong>
                <%= @tweet.tdate %>
                <%=time_ago_in_words(@tweet.created_at)%>前<br>
            </div>
        <h3><%= @tweet.message %></h3>
        <%= image_tag 'cosmos.jpg' %>
        </p>   
        
        </div>
   </div>


